@import "../../../../styles/_variables";

.Editor {
    @extend %corners;
    @extend %shadow;
    margin-bottom: 10px;
    min-height: 70px;
    background: var(--c-bg-light);
    border: 0;

    .editor-flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;

        > .icon.done {
            background-color: $c-done;
            font-size: 15px;
        }

        > .icon.todo {
            background-color: $c-in-progress;
            font-size: 15px;
        }

        > .icon.in_progress {
            background-color: $c-in-progress;
            font-size: 15px;
        }

        > .icon.in_progress svg {
            animation: fadeIn 1s infinite alternate;
        }

        > .icon {
            cursor: pointer;
            height: 70px;
            max-width: 70px;
            font-size: 18px;
            background-color: transparent;
            flex: 1;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        input {
            background-color: transparent;
            font-size: 22px;
            font-family: var(--font);
            font-weight: bold;
            padding: 15px;
            box-shadow: none;
            border: 0;
            outline: none;
            width: 100%;
            height: 100%;
        }

        .input-div {
            flex: 2;
        }
    }

    &.DueEditor {
        min-height: 70px;
        background-color: rgba(255, 255, 255, 0.7);

        .date-preview {
            width: 100%;
            padding: 0 15px 15px;
        }

        #editor-input {
            min-height: 70px;
        }

        .due-date-preview {
            font-size: 16px;
            font-style: italic;
        }
    }
}

.DiscussionEditor-container {
    width: 100%;

    .card {
        border: 0;
    }

    .help {
        margin-top: 0;
    }

    .level {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .thread-selectors {
        display: flex;

        .ThreadTypeSelect {
            background-color: rgba(0, 0, 0, 0.1);
            font-size: 18px;
            border: 0;
            border-radius: 0;
            margin: 0;
            flex: 1;
            transition: all 0.3s ease;
            padding: 15px;
            text-align: center;

            &.is-selected {
                background-color: #00b77a;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 8px;
            }

            &:last-child {
                border-top-right-radius: 8px;
            }
        }
    }
}

.message.gold {
    background-color: #f7ecb2;
    border-color: #e5c100;

    .body {
        color: white;
    }
}

.MilestoneEditor-container {
    width: 100%;

    .milestone-form {
        &.disabled {
            pointer-events: none;
            position: relative;
            margin-top: 30px;
            opacity: 0.5;
        }

        &.disabled::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .help {
        margin-top: 0;
    }

    .level {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.Editor-container {
    width: 100%;

    .dropzone {
        @extend %corners;
        width: 100%;
        padding: $gap-card;
        text-align: center;
        border: 2px grey dashed;

        > .subtitle {
            margin: 0;
        }
    }

    img {
        max-width: 400px;
    }

    button {
        margin-bottom: 4px;

        &:hover {
            margin-bottom: 4px;
            background-color: $c-done;
            color: white;
            border: 1px solid $c-done !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .Modal {
        border-radius: 0;
    }

    .Editor {
        border-radius: 0;

        .icon {
            height: 50px;
            max-width: 40px;
            font-size: 10px;
            border-radius: 0 !important;
        }
    }

    .MultiColumnSelector {
        max-height: 100px;

        .column {
            min-height: 100px !important;
            max-height: 100px !important;
        }
    }

    .Editor input {
        font-size: 18px;
    }

    .MultiColumnSelector {
        flex-direction: row;
    }
}

.MultiColumnSelector.columns {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .column {
        transition: background-color 300ms ease;
        min-height: 150px;
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .emoji {
            font-size: 2rem;
        }
    }

    .column:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .step-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 400px;

        .field {
            width: 90%;
        }

        input {
            min-width: 100%;
        }

        .idea-case {
            width: 90%;
            margin-top: 30px;
        }
    }
}

.icon-dropzone {
    height: 48px;
    width: 48px;
    background-color: whitesmoke;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
