@import "../../../../../../styles/_variables";

.ProductHero {
	.ProductHero-Icon {
		img {
			@extend %corners;
			border: 5px solid $c-lightest;
		}
	}

    .ProductHero-Media {
        .media {
            display: flex;
            justify-content: center;
        }
    }
}