@import "../../styles/_variables";

.RegisterPage {
    min-height: 100vh;
    background: $gradient-green;

    #main-navbar.translucent-navbar {
        background: none;

        #logo {
            color: $c-lightest;
        }
    }

    h2 {
        text-align: center;
        margin: 0 0 1rem;
        font-size: 3rem;
        color: $c-lightest;
    }

    .is-hidden-mobile {
        text-align: center;
        margin-bottom: 2rem;
    }

    .danger {
        color: $c-danger;
    }

    .help {
        display: block;
        font-size: 0.75rem;
        margin: 0 0 1rem;
    }

    .form-card {
        max-width: 400px;
        margin: 0 auto;
        padding: 150px 0;

        .card {
            padding: 1rem !important;
        }

        label {
            @extend %poppins;
            display: block;
        }

        label.slackcheck {
            padding-left: 0.5rem;
            display: inline-block;
        }

        .btn {
            font-size: 1.2rem;
            margin: 0 auto;
        }
    }
}

.quote-page .accounts-hero {
    background: rgb(103, 178, 111);
    background: linear-gradient(
        63deg,
        rgba(103, 178, 111, 1) 0%,
        rgba(17, 153, 142, 1) 100%
    );
}

.quote-page .accounts-hero .transparent-input {
    @extend %poppins;
    background-color: transparent;
    border: 0;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

.transparent-input-white {
    @extend %poppins;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    color: black;
    height: 3rem;
    outline: none;
    width: 100%;
}

.transparent-textarea-white {
    @extend %poppins;
    font-size: 1.3em;
    background-color: transparent;
    border: 0;
    color: black;
    outline: none;
    height: 100%;
    width: 100%;
}

.quote-page .accounts-hero .nice-button {
    background-color: transparent;
    border: 0;
    height: 3rem;
    margin: 10px;
    font-size: 1rem;
}

.quote-page .accounts-hero .left-column {
    height: 100%;
}

.quote-page .quote-case {
    padding: 30px;
    display: flex;
    height: 100%;
}

.quote-page .quote-case .quote {
    display: inline-block;
}

.quote-pagepage .quote-case .quote .begin {
    align-self: flex-start;
}

.quote-page .quote-case .quote .end {
    align-self: flex-end;
}

.quote-page .image-case {
    width: auto;
    height: 500px;
}

.quote-page .logotype {
    font-family: "Hammersmith One", sans-serif;
    color: #47e0a0 !important;
}

.quote-page .no-margin {
    margin: 0;
}

.quote-page .column {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.quote-page .tint {
}

.quote-page .content-column {
    background-color: #0a0a0a;
}

.quote-page .column h1 {
    color: white !important;
}

@media screen and (max-width: 768px) {
    .RegisterForm {
        width: 100vw;
    }
}

.RegisterForm .captcha-container {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
