@import "../../styles/_variables";

.DownOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;

    .center {
        margin-top: -100px;
        align-items: center;
    }

    & img {
        //  position: fixed;
        //bottom: 30px;
        //left: 30px;
        height: 150px;
        width: 150px;
    }

    h1 {
        margin: none !important;
        margin-bottom: 20px !important;
    }

    .center {
        flex-direction: column;
    }

    .button-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

.DownOverlay .brand {
    @extend %bold;
    color: $c-brand;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.DownOverlay p {
    margin-top: -1rem !important;
    font-size: 1.3em;
}

.DownOverlay .button {
    text-decoration: none !important;
}
