@import "../../../../styles/_variables";

.ProfileModalAction {
	cursor: pointer;
	color: inherit;

	img {
		@extend %corners;
		cursor: pointer;
		position: relative;
	}

	figcaption {
		font-weight: bold;
	}
}