@import "../../../../styles/_variables";

.EventMedia {
    cursor: pointer;

    h5,
    p {
        margin: 0px !important;
    }

    p {
        font-size: 0.813rem !important;
    }

    figure {
        margin: 0px;
    }

    h5 {
        font-size: 0.938rem !important;
    }

    .join-bar {
        margin-top: 10px;
        margin-bottom: 10px;

        button {
            margin-right: 10px;
        }
    }

    .EventToolbar {
    }
}
