@import "../../styles/_variables";

.HomeHero {
  @extend %corners;
  @extend %hero-gradient;
  padding: 3rem;
  padding-left: 1rem;

  h1 {
    font-size: 1.8rem;
  }
  a {
    @extend %rounded;
    padding: 0.5rem 1rem;
    background: var(--c-lightest);
    color: var(--c-title);
  }
}
