.Sidebar {
    .sidebar-item {
        > .card {
            margin-top: 1em;

            .react-calendar-heatmap {
                height: 100%;
                display: block;
                width: 100%;
            }

            .card-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.TopStreaksCard {
    .grid-thumbnails {
        margin: 0px !important;
    }
}
