@import "../../styles/_variables";

.TodayCard {
    .card-content {
        max-height: 70vh;
        overflow: auto;
    }
}

.color-circle {
    @extend %round;
    background: var(--c-lightest);
    border: 4px solid red;
    height: 15px;
    width: 15px;
}
